ol{
	li{
		list-style: none;
		text-decoration: none;
		padding-right: 5px;
		padding-top: 5px;
		float: left;
	}
}

ul{
	li{	
		list-style: none;
		text-decoration: none;
		padding-right: 5px;
   		padding-top: 5px;
	}
}
	


a{
	color: black;
	display: block;
	min-width: 150px;
	max-width: 300px;
    font: bold 25px Tahoma, sans-serif;
	background-color: gray;
	text-decoration: none;
	text-align: center;
}

	a:hover {color: red;}
